html {
    height: 100%;
    background-color: #f0f0ef
}

body {
    height: 98%;
    padding: 0px;
    margin: 0px;
    font: 18px/20px 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

/*Homepage styles*/
#header {
  background-color: #6b8a73;
  color: #f4f4f2;
}
#foot {
  margin-left: 1.5%;
  margin-top: -10px;
}
#header h3 {
  margin: 10px;
}
#title {
  font-size: 39px;
  color: black;
}
#homepage {
  background-size: cover;
  background: url("./images/sparrow.jpg") no-repeat center center;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
#homepage-form {
  width: 25%;
  margin-bottom: 5px;
}
.select {
  height: 30px;
}
#location {
  width: 137px;
}
#bird-species {
  width: 245px;
}
.submit {
  width: 40px;
  height: 30px;
  vertical-align: bottom;
}
#homepage-row {
  height: 100px;
  margin-top: 150px;
}

/*Map and graph page styles*/

/*LOADERS*/
#map-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #6b8a73;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 5s linear infinite;
  animation: spin 3s linear infinite;
}
#picture-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*ENTIRE PAGE*/
#all-items {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
#all-row {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/*MAP STYLES*/
#map-row {
  padding: 0;
  height: 100%;
}
#map { 
  height: 100%;
}
.mapboxgl-canvas {
  height: 100%;
}
.map-overlay {
  font-size: 100%;
  font-color: black;
  position: absolute;
  display: inline-block;
  width: 35%;
  top: 0;
  left: 0;
  padding: 10px;
}
.map-overlay .map-overlay-inner {
  background-color: #fff;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}
.map-overlay h2 {
  font-size: 100%;
  font-color: black;
  line-height: 20px;
  display: block;
  margin: 0 0 10px;
}
.mapboxgl-popup {
  max-width: 400px;
  font-size: 20px;
}
#map > div.mapboxgl-popup.mapboxgl-popup-anchor-bottom > div.mapboxgl-popup-content {
  padding: 20px;
}
.leg-circle {
  padding: 10px;
  display: flex;
  align-items: center;
}
#bird-legend > div:nth-child(1) > span {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  margin-right: 5px;
  width: 30px;
}
#bird-legend > div:nth-child(2) > span {
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  margin-right: 9px;
  width: 25px;
}
#bird-legend > div:nth-child(3) > span {
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  margin-right: 15px;
  width: 20px;
}
#bird-legend > div:nth-child(4) > span {
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  margin-right: 20px;
  width: 15px;
}
#bird-legend > div:nth-child(5) > span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 24px;
  width: 10px;
}
/*GRAPH AND PICTURE*/
#pic-chart {
  height: 100%;
  padding: 0;
  background-color: #f0f0ef;
}
#picture-row {
  height: 25%;
}
#picture {
  height: 100%;
  padding: 15px;
  background-color: white; 
  border-right: .5px #6b8a73 solid;
}
#picture img{
  height: 100%;
  padding: 0 5% 0 10%;
}
#description {
  height: 100%;
  background-color: white;
  border-right: .5px #6b8a73 solid;
}
#abstract {
  bottom: 0;
  margin: 0;
}
.vcenter {
  display: flex;
  align-items: center;
}

/*CHOOSE A NEW COUNTY FORM*/
#county-row {
  height: 100%;
  font-size: 18px;
  padding: 0;
  background-color: white;
}
#new-county-form {
  margin-bottom: 5px;
  padding: 0 5% 0 10%;
}
#new-county-form p {
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
}
#new-county{ 
  width: 100%;
  height: 30px;
}
#bird-list {
  width: 100%;
  height: 30px;
}

/*D3 CHART*/
#blurb {
  padding: 3% 5% 0 4.5%;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  bottom: 0;
}
.axis axis--x {
  font-size: 26px;
}
.axis--x path {
  display: none; 
}
.axis path,
.axis line { 
  fill: none;
  stroke: #000;
  stroke-width : .5;
  fill : none;
}
.line {
  fill: none;
  stroke: black;
}
#D3Chart {
  height: 37%;
  width: 100%;
  bottom: 0;
}
#location a:hover {
    background-color: #ddd
}