body {
    padding: 0px;
    margin: 0px;
}

#map { 
    height: 500px;
/*    top:0; */
    width:100%;
}

#top-row{
    padding-right: 0px;
    padding-left: 0px;
}

#lineChart {
    height: 500px;
    width: 100%;
}

.map-overlay {
    font: 12px/18px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    display: inline-block;
    width: 35%;
    top: 0;
    left: 0;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay h2 {
    font: 100% 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 20px;
    display: block;
    margin: 0 0 10px;
}

/*.map-overlay .legend .bar {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #FCA107, #7F3121);
}*/

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: blue;
  stroke-width: 1.5px;
}

/*.chart-legend li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
*/