html {
    height: 100%;
}

body {
    height: 98%;
    padding: 0px;
    margin: 0px;
    font: 18px/20px 'Roboto', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

/*Homepage styles*/
#title {
  font-size: 39px;
  color: black;
}
#homepage {
  background-size: cover;
  background: url("./images/sparrow.jpg") no-repeat center center;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
#homepage-form {
  width: 25%;
  margin-bottom: 5px;
}
.select {
  height: 30px;
}
#location {
  width: 137px;
}
#bird-species {
  width: 245px;
}
.submit {
  width: 40px;
  height: 30px;
  vertical-align: bottom;
}
#homepage-row {
  height: 100px;
  margin-top: 150px;
}

/*Map and graph page styles*/
#map-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#picture-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#all-items {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
#all-row {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
#map-row {
  padding: 0;
  height: 100%;
}
#map { 
    height: 100%;
}
.mapboxgl-canvas {
  height: 100%;
}
#pic-chart {
  height: 100%;
  padding: 0;
}
#picture-row img {
  width: 40%;
  padding: 15px;
}
#picture-row p {
  width: 50%;
  padding: 15px;
}
#lineChart {
    height: 500px;
    width: 100%;
    background-color: red;
}

.map-overlay {
    font-size: 100%;
    position: absolute;
    display: inline-block;
    width: 35%;
    top: 0;
    left: 0;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay h2 {
    font-size: 100%;
    line-height: 20px;
    display: block;
    margin: 0 0 10px;
}

.mapboxgl-popup {
    max-width: 400px;
    font-size: 20px;
}
.axis axis--x {
  font-size: 26px;
}
.axis--x path {
  display: none; 
}

.axis path,
.axis line { fill: none;
          stroke: #000;
          stroke-width : .5;
          fill : none;
}
.line {
  fill: none;
  stroke: black;
}
#D3Chart {
    height: 50%;
    width: 100%;
    /*position: absolute;*/
}
#location a:hover {
    background-color: #ddd
}