
{% extends 'base.html' %}
{% block content %}

<div class="container-fluid" id="homepage">
            
    <div class="homepage-row" id="homepage-row">
        <div class="col-xs-12 col-md-12 col-lg-12" id="homepage-row" align="center">

            <form action="/render_map" id="homepage-form">

                <label for="location">tell me about the birds.</label><br>
                    <select id="location" name="location">
                        <option value="county" placeholder="county" disabled selected>---County---</option>
                        {% for county in counties %}
                        <option value="{{ county }}" placeholder="county">{{ county }}</option>
                        {% endfor %}
                    </select>

                    <select id="bird-species" name="bird-species">
                        <option value="bird-species" placeholder="Species" disabled>Species</option>
                    </select>

                <input id="submission_info" type="submit" name="submit">

            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="./static/get_species.js"></script>
{% endblock %}