
{% extends 'base.html' %}
{% block content %}

<h1>Welcome</h1>

<form action="/render_map">

    <label for="location">Choose a location and species</label>
        <select id="location" name="location">
            {% for county in counties %}
            <option value="{{ county }}">{{ county }}</option>
            {% endfor %}
        </select>

        <select id="bird-species" name="bird-species">
            <option value="bird">Please choose a species</option>
        </select>

    <input id="submission_info" type="submit" name="submit">

</form>
 <script src="https://code.jquery.com/jquery.js"></script>
 <script src="./static/get_species.js"></script>
{% endblock %}