
{% extends 'base.html' %}
{% block content %}

<div class="container-fluid" id="homepage">
            
    <div class="row" id="homepage-row" align="center">
        
        <form action="/render_map" id="homepage-form" class="dropdown">

            <label for="location"><h1 id="title">tell me about the birds</h1></label><br>
                <select id="location" class="select" name="location">
                    <option value="county" placeholder="county" disabled selected>County</option>
                    {% for county in counties %}
                    <option value="{{ county }}" placeholder="county">{{ county }}</option>
                    {% endfor %}
                </select>

                <select id="bird-species" class="select" name="bird-species">
                    <option value="bird-species" placeholder="Species" width="75px" disabled>Species</option>
                </select>

            <input type="image" name="submit" src="./static/images/arrow_submit-01.png" border="0" class="submit" id="submission_info"  >

        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="./static/get_species.js"></script>
{% endblock %}